<%= stylesheet_link_tag "evaluation" %>

<div class="bandeauSuperieur d-flex justify-content-center">
  <span class="mx-4 uppercase font-bold">Menu Grille d'évaluation</span>
</div>

<h4 style="padding-left: 25px">Grille d'évaluation</h4>
<div class="d-flex justify-content-around my-1 py-5 mx-4">
  <span class="btn btn-square mx-2" onclick="window.location.assign('./');">Consulter</span>
  <span class="btn btn-square mx-2" onclick="window.location.assign('./');">Modifier</span>
  <span class="btn btn-square mx-2" onclick="window.location.assign('./');">Télécharger</span>
</div>
<h4 style="padding-left: 25px">Grille de notation finale</h4>
<div class="d-flex justify-content-around my-1 py-5 mx-4">
  <span class="btn btn-square mx-2" onclick="window.location.assign('./');">Consulter</span>
  <span class="btn btn-square mx-2" onclick="window.location.assign('./');">Modifier</span>
  <span class="btn btn-square mx-2" onclick="window.location.assign('./');">Télécharger</span>
</div>
