<%= stylesheet_link_tag "showForm" %>

<div class="bandeauSuperieur d-flex justify-content-center">
  <span class="mx-4 uppercase font-bold">Menu évaluation</span>
</div>

<div class="d-flex justify-content-around my-5 py-5 mx-4">
  <span class="btn btn-square mx-2">Télécharger une fiche d'évaluation vierge</span>
  <span class="btn btn-square mx-2" onclick="window.location.assign('./autoeval');">Consulter / remplir la grille d'auto-évaluation</span>
  <span class="btn btn-square mx-2">Consulter / télécharger la grille d'évaluation de visite</span>
</div>


