<%= stylesheet_link_tag "tableauDeBord" %>


<div class="bandeauSuperieur d-flex justify-content-center">
  <span class="mx-4 uppercase font-bold">Tableau de bord</span>
</div>

<div class="container drop pt-5 pb-3">
  <select class="dropdown" name="promo" required>
  <option value="" disabled selected>Filtrer par</option>
    <option class="dropdown-item">L3 MIAGE</option>
    <option class="dropdown-item">M1 MIAGE</option>
    <option class="dropdown-item">M2 MIAGE</option>
  </select>
</div>

<div class="card-body p-2">
  <div class="table-responsive">
    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
      <thead>
        <tr>
          <th>Nom/Prénom de l'étudiant</th>
          <th>Promotion</th>
          <th>Entreprise</th>
          <th>Auto evaluation (Élève)</th>
          <th>Grille d'évaluation</th>
          <th>Auto evaluation finale (Élève)</th>
          <th>Grille de notation finale</th>
          <th>Note entreprise</th>
        </tr>
      </thead>
      <tbody>
        <% @data['etudiants'].each do |valueData| %>
          <tr>
          <% valueData.each do |key, val| %>
              <% if key == 'autoevaluation' || key == 'grilleevaluation' || key == 'grilleevaluationfinale' || key == 'autoevaluationfinale' %>
                <% if val == nil %>
                  <td>
                    <span class="not-completed">Non Completée</span>
                  <% if key != 'autoevaluation' && key != 'autoevaluationfinale' %>
                    <br/>
                    <button type="button" class="btn btn-round tab">Remplir</button>
                  <% end %>
                  </td>
                <% else %>
                  <td>
                    <span class="completed">Completée</span>
                    <br/>
                    <button type="button" class="btn btn-round tab">Consulter</button>
                  </td>
                <% end %>
              <% elsif key == 'note'%>
                <% if val == nil %>
                <td>
                  <span>-</span>
                  <br/>
                  <button type="button" class="btn btn-round tab">Noter</button>
                </td>
                <% else %>
                  <td>
                    <span><%= val %></span>
                    <br/>
                    <button type="button" class="btn btn-round tab">Consulter</button>
                  </td>
                <% end %>
              <% else %>
                <td>
                  <%= val %>
                </td>
              <% end %>
          <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<div class="container m-2 pt-5">
  <button class="btn btn-round">Télécharger le template grille d'évaluation</button>
  <button class="btn btn-round">Télécharger la grille de notation finale</button>
</div>