/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

:root {
    --lightgrey: #F9F9F9;
    --mediumgrey: #CCCCCC;
    --darkgrey: #172026;
    --purple: #8B0146;
    --darkblue: #181552;
}

/* charte graphique */
.bg-white {background-color: white;}
.bg-lightgrey {background-color: var(--lightgrey);}
.bg-mediumgrey {background-color: var(--mediumgrey);}
.bg-darkgrey {background-color: var(--darkgrey);}
.bg-purple {background-color: var(--purple);}
.bg-darkblue {background-color: var(--darkblue);}

.text-white {color: white;}
.text-lightgrey {color: var(--lightgrey);}
.text-mediumgrey {color: var(--mediumgrey);}
.text-darkgrey {color: var(--darkgrey);}
.text-purple {color: var(--purple);}
.text-darkblue {color: var(--darkblue);}

.text-right {text-align: right;}
.text-left {text-align: left;}
.text-center {text-align: center;}
