/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

:root {
    --lightgrey: #F9F9F9;
    --mediumgrey: #CCCCCC;
    --darkgrey: #172026;
    --purple: #8B0146;
    --purple-transparent: #8B0146BB;
    --mediumblue: #231d99;
    --darkblue: #181552;
}

/* charte graphique */
.bg-white           {background-color: white!important;}
.bg-lightgrey       {background-color: var(--lightgrey)!important;}
.bg-mediumgrey      {background-color: var(--mediumgrey)!important;}
.bg-darkgrey        {background-color: var(--darkgrey)!important;}
.bg-purple          {background-color: var(--purple)!important;}
.bg-mediumblue      {background-color: var(--mediumblue)!important;}
.bg-darkblue        {background-color: var(--darkblue)!important;}

.text-white         {color: white!important;}
.text-lightgrey     {color: var(--lightgrey)!important;}
.text-mediumgrey    {color: var(--mediumgrey)!important;}
.text-darkgrey      {color: var(--darkgrey)!important;}
.text-purple        {color: var(--purple)!important;}
.text-mediumblue    {color: var(--mediumblue)!important;}
.text-darkblue      {color: var(--darkblue)!important;}

.text-right         {text-align: right!important;}
.text-left          {text-align: left!important;}
.text-center        {text-align: center!important;}

.btn-round {
    border-radius: 20px!important;
    padding-right: 3rem!important;
    padding-left: 3rem!important;
    font-weight: bold!important;
    color: #FFFFFF!important;
    background-color: var(--purple)!important;
}

.btn-square {
    border-radius: 20px!important;
    padding: 2rem!important;
    font-weight: bold!important;
    color: #FFFFFF!important;
    background-color: var(--purple)!important;
}

input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -4px;
    left: -1px;
    position: relative;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid darkgrey;
    background-color: white;
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -4px;
    left: -1px;
    position: relative;
    background-color: darkgrey;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid darkgrey;
}
