<!-- Navbar -->
<nav class="navbar navbar-expand-md fixed-top">
  <div class="container-fluid">
    <a href="/">
      <img class="logo" <%= image_tag(image_url('miage.png'), class: 'image') %>
    </a>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
          <a class="nav-link" href="#"><p>OFFRES</p></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/autoeval"><p>EVALUATION</p></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><p>STATISTIQUES</p></a>
        </li>
        <li class="nav-item">
          <a href="#">
            <i class="fas fa-user-circle fa-2x" style="color: #8B0146"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>